<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bäst bok för dig!</title>
    <script type="text/javascript" src="/js/index.js">
    </script>

    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css.map">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css.map">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css.map">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css.map">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.css.map">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css.map">
    <link rel="shortcut icon" href="">

    <link rel="shortcut icon" href="">


  </head>
  <body>

    <h1> [<%= titel1 %> ] </h1>
    <button onClick="myFunction()"> Klicka här </button>
      <hr>

      <a href="/secondPage"> Klicka här för att komma till sida 2! </a>



  </body>
</html>
