<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bäst bok för dig!</title>
    <script type="text/javascript" src="/js/index.js">



    </script>

    <link rel="stylesheet" href="/css/design.css">

  </head>
  <body>
    <h1> [<%= titel1 %> ] </h1>
    <button onClick="myFunction()"> Klicka här </button>

  </body>
</html>
